<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    {% feed_meta %}
    {% seo %}
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <html>
    <body>
      <nav class="bg-purple-500 p-3">
          <div class="container flex items-center justify-between flex-wrap">

        
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <span class="text-xl tracking-tight"> {{ site.title }}</span>
        </div>
        <div class="block flex-grow flex items-center w-auto">
            <div class="text-sm flex-grow">
              <a href="#responsive-header" class="inline-block text-purple-200 hover:text-white mr-4">
                Home
              </a>
              <a href="#responsive-header" class="inline-block text-purple-200 hover:text-white">
                Blog
              </a>
            </div>
          </div>
        </div>
      </nav>
      <main class="container mt-3">
        {{ content }}
      </main>
      
    </body>
  </html>